<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../stockapp/stocks/static/stocks/css/main.css">
  </head>
  <header>
    <h1>StockTalk</h1>
    <img src="../stockapp/stocks/static/stocks/logo.png">
    <hr>
  </header>
  <body>
    <table>
      <colgroup span="4"></colgroup>
      <tr>
        <th>Company</th>
        <th>Current Price</th>
        <th>Past24h Graph</th>
        <th>Buy Shares</th>
      </tr>
      <tr>
        <td><img src="../stockapp/stocks/static/stocks/google.png"></td>
        <td><p>Price: $5.00</p></td>
        <td><p>INSERT GRAPH</p></td>
        <td>
          <input type="text" placeholder="Number of Shares" ng-model='numShares' class="loginInput"></input>
          <button type='submit' class="submitBtn">Buy</button>
        </td>
      </tr>
      <tr>
        <td><img src="../stockapp/stocks/static/stocks/microsoft.png"></td>
        <td><p>Price: $5.00</p></td>
        <td><p>INSERT GRAPH</p></td>
        <td>
          <input type="text" placeholder="Number of Shares" ng-model='numShares' class="loginInput"></input>
          <button type='submit' class="submitBtn">Buy</button>
        </td>
      </tr>
      <tr>
        <td><img src="../stockapp/stocks/static/stocks/facebook.png"></td>
        <td><p>Price: $5.00</p></td>
        <td><p>INSERT GRAPH</p></td>
        <td>
          <input type="text" placeholder="Number of Shares" ng-model='numShares' class="loginInput"></input>
          <button type='submit' class="submitBtn">Buy</button>
        </td>
      </tr>
    </table>
  </body>
  <footer>
    <hr>
    <p>Created by Jack, Justin, Bryan, and Shane for HackRice2016</p>
  </footer>
</html>