<!DOCTYPE html>
<html lang="en">
  <h1>StockTalk</h1>
  <div class="card">
    <div class="item item-divider">
      <div ng-bind="alertMessage" style="text-align:center; width:100%; color:red;"></div>
    </div>
    
    <hr>
    <img src="logo.png">

    <form ng-Submit= "sendForVerification()">
      <hr>
      <h3>Buy Shares:</h3>
      <div class="form-inline">
        <img src="google.jpg">
        <img src="microsoft.png">
        <img src="facebook.jpg">
      </div>
      <div class="form-inline">
        <input type="text" placeholder="Number of Shares" ng-model='numShares' class="loginInput"></input>
        <input type="text" placeholder="Number of Shares" ng-model='numShares' class="loginInput"></input>
        <input type="text" placeholder="Number of Shares" ng-model='numShares' class="loginInput"></input>
      </div>
      <div class="form-inline">
        <h4>Price: $5.00</h4>
        <h4>Price: $5.00</h4>
        <h4>Price: $5.00</h4>
      </div>
      <div class="form-inline">
        <button type='submit' class="submitBtn">Buy</button>
        <button type='submit' class="submitBtn">Buy</button>
        <button type='submit' class="submitBtn">Buy</button>
      </div>
      <hr>
    </form>
  </div>
</html>