<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../stockapp/stocks/static/stocks/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  </head>
  <header>
    <img src="../stockapp/stocks/static/stocks/logo.png">
      <h1>The Ideal Stock Market</h1>
  </header>
  <body>

  <nav id="up_nav">
  <ul>
    <li id="select" onclick="openPage('market', this)">The Market</li>
    <li onclick="openPage('dream', this)">Our Dream</li>
  </ul>
  </nav>

  <main id="main">

  </main>


<div>
  <div id="market">
    <table>
      <tr>
        <th><img src="../stockapp/stocks/static/stocks/facebook.png"></th>
        <th><img src="../stockapp/stocks/static/stocks/google.png"></th>
        <th><img src="../stockapp/stocks/static/stocks/microsoft.png"></th>
      </tr>

      <tr>
        <th><p>Price: $5.00</p></th>
        <th><p>Price: $5.00</p></th>
        <th><p>Price: $5.00</p></th>
      </tr>

      <tr>
        <th>
          <input type="text" placeholder="Number of Shares" ng-model='numShares' class="loginInput"></input>
          <button type='submit' class="submitBtn">Buy</button>
        </th>
        <th>
          <input type="text" placeholder="Number of Shares" ng-model='numShares' class="loginInput"></input>
          <button type='submit' class="submitBtn">Buy</button>
        </th>
        <th>
          <input type="text" placeholder="Number of Shares" ng-model='numShares' class="loginInput"></input>
          <button type='submit' class="submitBtn">Buy</button>
      </tr>
    </table>

    <h1>Graph Here</h1>
    <h1>Graph Here</h1>
    <h1>Graph Here</h1>
    <h1>Graph Here</h1>
    <h1>Graph Here</h1>
  </div>
  <div id="dream">
    <h1>We have a dream</h1>
  </div>
</div>

  </body>
  <footer>
    <p>Created by Jack, Justin, Bryan, and Shane for HackRice2016</p>
  </footer>

  <script>
document.getElementById('main').innerHTML = document.getElementById("market").innerHTML;

var button = document.getElementById("select");



function openPage(name, new_button) {
  button.id = "";
  button = new_button;
  button.id = "select";

  document.getElementById('main').innerHTML = document.getElementById(name).innerHTML;
  }

  </script>
</html>