* {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

header {
  text-align: center;
  font-size:2.0em;
  background-color: #757575;
  padding: 10px;
}

header p {
  font-size:1.0em;
  color: red;
}

body {
  padding: 0;
  background-color: WHITE;
  color: logo;
}


footer p {
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  padding: 5px;
  background-color: #A0A0A0;
}

input {
  text-align: center;
  border-radius: 3px;
}

button {
  margin-left:5px;
  border-radius: 6px;
  background-color: #87cefa;
}

body th {
  width: 10%;
}

body td {
  width: 10%;
}

img{
  width: 200px;
  height: 200px;
}