{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'stocks/css/main.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  </head>
  <header>
    <img src="{% static 'stocks/logo.png' %}">
    <h1>StockTalk</h1>
  </header>
  <body>

<nav id="up_nav">
  <ul>
    <li id="select" onclick="openPage('market', this)">The Market</li>
    <li onclick="openPage('dream', this)">Our Dream</li>
  </ul>
</nav>

<main id="main">

</main>

<div>
  <div id="market">
  <div class="container-fluid text-center">
    <div class="jumbotron">
      <h1>Welcome to <b>THE</b> Ideal Stock Market!</h1>
      <h2>You're worth: </h2>
      <div class="worth"></div>
      <h3>You have: </h3>
      <div class="total-cash"></div>
      <p>Your shares:</p>
      <table class="table">
        <tr>
          <th>Google</th>
          <th>Microsoft</th>
          <th>Facebook</th>
        </tr>
        <tr>
          <th><div class="google-stocks">0</div></th>
          <th><div class="microsoft-stocks">0</div></th>
          <th><div class="facebook-stocks">0</div></th>
        </tr>
      </table>
    </div>
    <table class="company-table">
      <tr class="hide-top">
        <th><img src="{% static 'stocks/google.png' %}"></th>
        <th><img src="{% static 'stocks/microsoft.png' %}"></th>
        <th><img src="{% static 'stocks/facebook.png' %}"></th>
      </tr>

      <tr class="hide-top">
        <th><p><div class="google-price">{{ google }}</div></p></th>
        <th><p><div class="microsoft-price">{{ microsoft }}</div></p></th>
        <th><p><div class="facebook-price">{{ facebook }}</div></p></th>
      </tr>

      <tr class="hide-top">
        <th>
          <form class="form-inline" id="google-form">
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Amount" id="google-amount">
              </div>
            </div>
            <button type="submit" class="btn btn-success" id="google-button">Buy</button>
            <button type="submit" class="btn btn-success" id="google-sell-button">Sell</button>
          </form>
        </th>
        <th>
          <form class="form-inline" id="microsoft-form">
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Amount" id="microsoft-amount">
              </div>
            </div>
            <button type="submit" class="btn btn-success" id="microsoft-button">Buy</button>
            <button type="submit" class="btn btn-success" id="microsoft-sell-button">Sell</button>
          </form>
        </th>
        <th>
          <form class="form-inline" id="facebook-form">
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Amount" id="facebook-amount">
              </div>
            </div>
            <button type="submit" class="btn btn-success" id="facebook-button">Buy</button>
            <button type="submit" class="btn btn-success" id="facebook-sell-button">Sell</button>
          </form>
        </th>
      </tr>
    </table>
    </div>
    </div>
  <div id="dream">

      <h1>Our dream of the ideal stock market:</h1>
      </p>The values of companies are decided not by complicated economic forces that no one really understands but by how many people companies can make happy</p>
      </p>Only companies that people care about are publicly traded</p>
      </p>Everyone has the power to influence the values of companies by making their voices heard on twitter (no spamming though)</p>
      </p>Stocks are cheap enough that anyone can afford them and change in price quickly enough that everyone can make their fortune in minutes and move on to more important things</p>
      </p>There are no losers. Only winners and bigger winners</p>
      </p>Economics is simple enough that it doesn&#39;t take a PhD to understand. Stock trading systems should reflect this</p>

      <footer>
        <p>Created by Jack, Justin, Bryan, and Shane for HackRice2016</p>
      </footer>

  </div>
</div>
  </body>
   <script>
document.getElementById('main').innerHTML = document.getElementById("market").innerHTML;

var button = document.getElementById("select");



function openPage(name, new_button) {
  button.id = "";
  button = new_button;
  button.id = "select";

  document.getElementById('main').innerHTML = document.getElementById(name).innerHTML;
  }

  </script>

  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="https://js.pusher.com/3.0/pusher.min.js"></script>
  <script src="{% static 'stocks/js/main.js' %}"></script>
</html>